{
	"root": true,
	"env": { "browser": true, "es2020": true },
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:react-hooks/recommended"
	],
	"ignorePatterns": ["dist", ".eslintrc"],
	"parser": "@typescript-eslint/parser",
	"plugins": ["react-hooks", "sort-destructure-keys"],
	"rules": {
		"sort-destructure-keys/sort-destructure-keys": 2,
		"react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": "error",
		"no-unused-vars": "off",
		"@typescript-eslint/no-unused-vars": [
			"error",
			{
				"argsIgnorePattern": "^_",
				"varsIgnorePattern": "^_",
				"caughtErrorsIgnorePattern": "^_"
			}
		]
	}
}
